name: audit-terraform

on:
  push:
    branches: [ main ]
    paths:
      - "**.tf"
  pull_request:
    branches: [ main ]
    paths:
      - "**.tf"
  workflow_dispatch:

jobs:
  tfsec:
    name: Run tfsec sarif report
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.2

      - name: Run Trivy vulnerability scanner in IaC mode for Terraform
        uses: aquasecurity/trivy-action@6c175e9c4083a92bbca2f9724c8a5e33bc2d97a5 # v0.30.0
        with:
          scan-type: "config"
          scan-ref: "."
          hide-progress: true
          format: "sarif"
          output: "trivy-terraform-results.sarif"
          exit-code: "1"
          ignore-unfixed: true
          severity: "CRITICAL,HIGH"

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@ff0a06e83cb2de871e5a09832bc6a81e7276941f # v3
        with:
          sarif_file: "trivy-terraform-results.sarif"